#firstCanvas {
    width: 400px;
    height: 400px;
    border: solid 1px black;
}

#secondCanvas {
    width: 400px;
    height: 400px;
    border: solid 1px black;
}

#thirdCanvas {
    width: 400px;
    height: 400px;
    border: solid 1px black;
}

#fourthCanvas {
    width: 400px;
    height: 400px;
    border: solid 1px black;
}